#survey {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 20px;
  height: 600px;
  position: fixed;
  width: 350px;
}

/*=======
  Header
  --Includes: logo, &times; for close
=======*/
.header-container {
  background: #1b1b1b;
  border-bottom: 3px solid #1a6b96;
}

.header-brand {
  position: relative;
  padding: 0.312em 0 0.312em 1.63em;
  width: 7em;
}

.header-close {
  position: relative;
  top: .75em;
  right: 1.75em;
  float: right;
  text-decoration: none;
  font-weight: 600;
  font-size: .90em;
  color: #e7eeee;
}

/*======
  Thank you note
  --Includes: Text (default display: hidden) informing the user
  of a successful form submission
======*/
#thankyou {
  display: none;
  padding: 2.25em 0 0 2.81em;
}

.thank-you-note {
  font-weight: lighter;
}

/*======
  Survey
  --Includes: survey-form wrapper, survey intro question
======*/
.survey-form {
  padding: 2.25em 0 0 2.81em;
}

.survey-intro {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/*======
  Form
  --Includes:
======*/
.form-title {
  font-weight: lighter;
  font-size: .85em;
  letter-spacing: .5px;
  position: relative;
  bottom: .5em;
}

.form-input {
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
  width: 24.40em;
  margin-bottom: 1.5em;
  padding: 0.75em 0 .75em 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.form-input:focus {
  background-color: #e0f4ff;
}

/*.form-input:focus:invalid {
  background: #ffc0cb;
  color: #ff0000;
}*/

.form-input--select {
  background: transparent;
  width: 24.4em;
  padding: 0.75em 0 0.75em 0.5em;
  margin-bottom: 1.5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   /* Hides the default arrows for Selects */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Full Name and Phone Number inputs */
[name=fullName] {
  margin-bottom: .85em;
}

/*.form .submitted ~ .form-inputphoneNum]:invalid {
  border: 1px solid #ff0000;
  background: #ffc0cb;
}*/

[name=fullName],
[name=phoneNum] {
  font-style: italic;
  opacity: .6;
  position: relative;
  padding-left: 5px;
}

/* Error message with phone title */
.error-msg {
  display: none;
}

/* State select dropdown */
.dropdown {
  position: relative;
  margin-bottom: .75em;
}

.dropdown:focus {
  background-color: #e0f4ff;
}

.dropdown:before {
  content: "";
  position: absolute;
  right: 43px;
  top: 29px;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4.5px solid black;
}


/* Please describe your question input */
[name=describeText] {
  padding-bottom: 2.88em;
  resize: vertical;
  overflow: scroll;
  padding-left: 5px;
}

/* Submit button & required text below */
.submit {
  float: right;
  position: relative;
  right: 2.56em;
  top: .35em;
}

.survey-submit {
  background: #1a6b96;
  color: #fff;
  padding: 1.125em 4.32em 1.125em 4.32em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.required-text {
  font-size: .65em;
  position: relative;
  left: 6.25em;
  top: .75em;
}
/*======
  Footer
  --Includes: The craziest text in the Seven Kingdoms
======*/
.footer {
  background: #ccc;
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: .5em;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .97em 0 .97em 0;
}